{{/* 
<:dice1:1019933441296453642> 
<:dice2:1019933454894370847>
<:dice3:1019933466718130186>
<:dice4:1019933477572988938>
<:dice5:1019933496342478848>
<:dice6:1019933510049476639>
*/}}
{{/* channel nhận thưởng*/}}
{{$channel := 1185911919912165436}}
{{$channel2 := 1187293637948751952}}
{{$user := .User.Mention}}

{{ $totalticket := 0 }} 
{{ with dbGet .User.ID "countticket" }}
	{{ $totalticket = .Value }}
{{ end }}

{{ $currentpos := 0 }} 
{{ with dbGet .User.ID "currentpos" }}
	{{ $currentpos = .Value }}
{{ end }}
{{if $currentpos}}
{{else}}
	{{dbSet .User.ID "currentpos" (toInt 0)}}
    {{ $currentpos = (toInt 0)}}
{{end}}

{{if gt (toInt $totalticket) 0}}
    {{$rand1 := randInt 1 7}}
    {{$pos := dbIncr .User.ID "currentpos" $rand1}}
    {{if eq $rand1 1}}
        {{sendMessage nil (printf "<:dice1:1019933441296453642>")}}
    {{else if eq $rand1 2}}
        {{sendMessage nil (printf "<:dice2:1019933454894370847>")}}
    {{else if eq $rand1 3}}
        {{sendMessage nil (printf "<:dice3:1019933466718130186>")}}
    {{else if eq $rand1 4}}
        {{sendMessage nil (printf "<:dice4:1019933477572988938>")}}
    {{else if eq $rand1 5}}
        {{sendMessage nil (printf "<:dice5:1019933496342478848>")}}
    {{else if eq $rand1 6}}
        {{sendMessage nil (printf "<:dice6:1019933510049476639>")}}
    {{end}}
    {{$countxucsac := dbIncr .User.ID "countticket" -1}}
    {{sendMessage nil (print $user " bạn đã đến ô " $pos ". Bạn còn " $countxucsac " xí ngầu 🎲.")}}


    {{if eq (toInt $pos) 16}}
        {{.User.Mention}} Ô 16 là ô đặc biệt. Bạn nhảy lên ô {{dbIncr .User.ID "currentpos" 4}}

    {{else if eq (toInt $pos) 20}}
        {{.User.Mention}} Ô 20 là ô đặc biệt. Bạn lọt xuống ô {{dbIncr .User.ID "currentpos" -4}}

    {{else if eq (toInt $pos) 45}}
        {{.User.Mention}} Ô 45 là ô đặc biệt. Bạn nhảy lên ô {{dbIncr .User.ID "currentpos" 16}}

    {{else if eq (toInt $pos) 58}}
        {{.User.Mention}} Ô 58 là ô đặc biệt. Bạn nhảy lên ô {{dbIncr .User.ID "currentpos" 6}}

    {{else if eq (toInt $pos) 64}}
        {{.User.Mention}} Ô 64 là ô đặc biệt. Bạn lọt xuống ô {{dbIncr .User.ID "currentpos" -6}}

    {{/* (eq (toInt $pos) 4) */}}
    {{else if or (eq (toInt $pos) 26) (eq (toInt $pos) 77) (eq (toInt $pos) 97)}}
        {{$rand2 := randInt 4}}
        {{if eq $rand2 0}}
            {{.User.Mention}} Bạn nhận được 2 quả thông. Bạn có {{dbIncr .User.ID "countpineal" 2}} quả thông.
        {{else}}
            {{.User.Mention}} Bạn nhận được 1 quả thông. Bạn có {{dbIncr .User.ID "countpineal" 1}} quả thông.
        {{end}}

    {{else if or (eq (toInt $pos) 18) (eq (toInt $pos) 56)}}
        {{$rand3 := randInt 3}}
        {{if eq $rand3 0}}
            {{.User.Mention}} Nhặt được đôi vớ, phải làm nhiệm vụ để vượt qua nha. Lên <#763256876741427241> gửi lời chào.
        {{else if eq $rand3 1}}
            {{.User.Mention}} Nhặt được đôi vớ, phải làm nhiệm vụ để vượt qua nha. Lên <#763688814668677130> chia sẻ 1 tấm hình bạn thấy vui
        {{else}}
            {{.User.Mention}} Nhặt được đôi vớ, phải làm nhiệm vụ để vượt qua nha. Treo Voice 15 phút tại Server
        {{end}}

    {{else if eq (toInt $pos) 27}}
        {{.User.Mention}} Merry Christmas !

    {{else if eq (toInt $pos) 51}}
        {{.User.Mention}} Chúc mừng bạn nhặt được 1 quả thông trên đường đi. Bạn có {{dbIncr .User.ID "countpineal" 1}} quả thông.

    {{else if or (eq (toInt $pos) 41) (eq (toInt $pos) 72)}}
        {{.User.Mention}} Chúc mừng bạn nhặt được 2 quả thông trên đường đi. Bạn có {{dbIncr .User.ID "countpineal" 2}} quả thông.

    {{else if or (eq (toInt $pos) 48) (eq (toInt $pos) 91)}}
        {{.User.Mention}} Chúc mừng bạn nhận thêm 1 xí ngầu 🎲. Bạn có {{dbIncr .User.ID "countticket" 1}} xí ngầu 🎲.

    {{else if or (eq (toInt $pos) 28) (eq (toInt $pos) 96)}}
        {{.User.Mention}} Nhắc bạn : Vào <#1185865493580628018> nhận quà nhé ! 

    {{else if or (eq (toInt $pos) 7) (eq (toInt $pos) 32) (eq (toInt $pos) 69) (eq (toInt $pos) 86)}}
        {{$rand3 := randInt 20}}
        {{if le $rand3 1}}
            {{sendMessage $channel (print "Chúc mừng " $user " mở quà được 20.000 OwO.")}}
        {{else if eq $rand3 2}}
            {{sendMessage $channel (print "Chúc mừng " $user " mở quà được 50.000 OwO.")}}
        {{else if le $rand3 6}}
            {{.User.Mention}} Hộp này hết quà rồi, tìm hộp khác nha.
        {{else if le $rand3 8}}
            {{.User.Mention}} Bạn đã thu thập thêm được 2 quả thông. Bạn có {{dbIncr .User.ID "countpineal" 2}} quả thông.
        {{else if le $rand3 12}}
            {{.User.Mention}} Bạn đã thu thập thêm được 1 quả thông. Bạn có {{dbIncr .User.ID "countpineal" 1}} quả thông.
        {{else if le $rand3 16}}
            {{.User.Mention}} Chúc mừng bạn nhận được thêm 1 xí ngầu 🎲. Bạn có {{dbIncr .User.ID "countticket" 1}} xí ngầu 🎲.
        {{else if le $rand3 19}}
            {{.User.Mention}} Chúc mừng bạn nhận được Role Merry Christmas ! Cùng đón Giáng sinh thôi nào !
            {{giveRoleID .User.ID 1185779412101247097}}
        {{end}}

    {{else if gt (toInt $pos) 100}}
        Đã hết vòng bạn đi tới tiếp ô {{dbIncr .User.ID "currentpos" -100}}
        {{sendMessage $channel2 (print "Chúc mừng " $user " đã đi hết vòng.")}}

    {{end}}

{{else}}
    {{.User.Mention}} Bạn đã hết lượt chơi. Hãy làm thêm nhiệm vụ ( xem tại ghim ) để kiếm lượt nhé.
{{end}}