{{ $page := 1 }} 
{{ with reFind `\d+` (joinStr " " .CmdArgs) }} {{ $page = . | toInt }} {{ end }}
{{ $nextTo := mult (sub $page 1) 10 }} 
{{ $users := dbTopEntries "countpineal" 10 $nextTo }} 
{{ if not (len $users) }}
	Không có ai ở trang này :(
{{ else }}
	{{ $rank := $nextTo }} 
	{{ $display := "" }} 
	{{- range $users -}}
		{{ $xp := toInt .Value }}
		{{ $rank = add $rank 1 }} 
		{{ $display = printf "%s\n• **%d.** [%s](https://www.youtube.com/watch?v=9kaCAbIXuyg) :: Số lượng (%d 🌰🎄)"
			$display $rank .User.String $xp
		}} 
	{{- end -}}
	{{ $id := sendMessageRetID nil (cembed
		"title" "❯ Bảng xếp hạng"
		"thumbnail" (sdict "url" "https://e7.pngegg.com/pngimages/30/895/png-clipart-conifer-cone-euclidean-pine-coffee-simple-pine-cone-food-simple.png")
		"color" 14232643
		"description" $display
		"footer" (sdict "text" (joinStr "" "Trang " $page))) 
	}} 
{{end}}