{{/*Code by TrickStar
    Trigger type : Command. Example: send
    ex: <prefix>send <channel> <content>

*/}}
{{$args := parseArgs 0 "Lỗi rùi gõ : -send <kênh> <nội dung>"
    (carg "channel" "kênh")
    (carg "string" "nội dung")}}

{{if .Message.Attachments}}
    {{range .Message.Attachments}}
    {{$msgEmbed := cembed 
        "image" (sdict "url" .ProxyURL)  
        "color" 16763904}}
        {{sendMessage ($args.Get 0).ID ($args.Get 1)}}
        {{sendMessage ($args.Get 0).ID $msgEmbed}}
    {{end}}
{{else}}
    {{sendMessage ($args.Get 0).ID ($args.Get 1)}}
{{end}}

{{deleteTrigger 1}}