{{/*Code by No#8600
Trigger type : Reaction
Added + Removed reactions

*/}}
{{ $starEmoji := "⭐" }} 
{{ $starLimit := 3 }}
{{ $starboard := 765835530964566016 }} 
 
{{ $linkRegex := `https?:\/\/(?:\w+\.)?[\w-]+\.[\w]{2,3}(?:\/[\w-_.]+)+\.(?:png|jpg|jpeg|gif|webp)` }}
 
{{ $count := 0 }}
{{ range .ReactionMessage.Reactions }}
	{{ if and (eq .Emoji.Name $starEmoji) (ge .Count $starLimit) }}
		{{ $count = .Count }}
	{{ end }}
{{ end }}
 
{{ $starboardMessage := 0 }}
{{ $thisID := .ReactionMessage.ID }}
{{ with (dbGet 0 "starboardMessages").Value }}
	{{ $idRegex := printf `%d:(\d+)` $thisID }}
	{{ with reFindAllSubmatches $idRegex . }} {{ $starboardMessage = index . 0 1 }} {{ end }}
	{{ if not (getMessage $starboard $starboardMessage) }}
		{{ $starboardMessage = 0 }}
		{{ dbSet 0 "starboardMessages" (reReplace $idRegex . "") }}
	{{ end }}
{{ end }}
 
{{ if and $count (or .ReactionMessage.Content .ReactionMessage.Attachments) (eq .Reaction.Emoji.Name $starEmoji) }}
	{{ $emoji := "🌠" }}
	{{ if lt $count 5 }} {{ $emoji = "⭐" }}
	{{ else if lt $count 8 }} {{ $emoji = "🌟" }}
	{{ else if lt $count 10 }} {{ $emoji = "✨" }}
	{{ else if lt $count 15 }} {{ $emoji = "💫" }}
	{{ else if lt $count 20 }} {{ $emoji = "🎇" }}
	{{ else if lt $count 25 }} {{ $emoji = "🎆" }}
	{{ else if lt $count 30 }} {{ $eomji = "☄️" }}
	{{ end }}
	{{ $embed := sdict
		"color" 0xFFAC33
		"fields" (cslice
			(sdict "name" "Author" "value" .ReactionMessage.Author.Mention "inline" true)
			(sdict "name" "Channel" "value" (printf "<#%d>" .Channel.ID) "inline" true)
		)
		"timestamp" .ReactionMessage.Timestamp
		"thumbnail" (sdict "url" (.ReactionMessage.Author.AvatarURL "1024"))
		"footer" (sdict "text" (printf "%s %d | %d" $emoji $count .ReactionMessage.ID))
	}}
	{{ with .ReactionMessage.Content }}
		{{ with reFind $linkRegex . }} {{ $embed.Set "image" (sdict "url" .) }} {{ end }}
		{{ $content := . }}
		{{ if gt (len .) 1000 }} {{ $content = slice . 0 1000 | printf "%s..." }} {{ end }}
		{{ $embed.Set "fields" ($embed.fields.Append (sdict "name" "Message" "value" $content)) }}
	{{ end }}
	{{ with .ReactionMessage.Attachments }}
		{{ $attachment := (index . 0).URL }}
		{{ if reFind `\.(png|jpg|jpeg|gif|webp)$` $attachment }}
			{{ $embed.Set "image" (sdict "url" $attachment) }}
		{{ end }}
	{{ end }}
	{{ $embed.Set "fields" ($embed.fields.Append (sdict
		"name" "Message"
		"value" (printf "[Jump!!!](https://discordapp.com/channels/%d/%d/%d)" .Guild.ID .Channel.ID .ReactionMessage.ID)))
	}}
	{{ with $starboardMessage }}
		{{ editMessage $starboard . (cembed $embed) }}
	{{ else }}
		{{ $ret := sendMessageRetID $starboard (cembed $embed) }}
		{{ dbSet 0 "starboardMessages" (printf
			"%s\n%d:%d"
			(or (dbGet 0 "starboardMessages").Value "")
			.ReactionMessage.ID $ret
		) }}
	{{ end }}
{{ end }}
