{{/*Code by TrickStar
Trigger type : Command
*/}}
{{$target := (userArg (index .CmdArgs 0))}}
{{takeRoleID $target 625252467457916928}}
{{if .Message.Mentions}}
`{{index .Message.Mentions 0}}` đã được tự do
{{end}}