{{/*Code by TrickStar
Added reactions only
*/}}
{{$upvote :="👍"}}
{{$cancel :="❌"}}
{{$uVote := 0}}
{{$uCancel := 0}}
 
{{range .ReactionMessage.Reactions}}
    {{if eq .Emoji.Name (toString $upvote)}}
        {{$uVote = .Count}}
    {{else if eq .Emoji.Name (toString $cancel)}}
        {{$uCancel = .Count}}
    {{end}}
{{end}}

{{if ge $uVote 2}}
    {{sendMessage 835805521953030194 (index (getMessage nil .Message.ID).Embeds 0)}} {{/* Edit this. This is channel cfs */}}
    {{deleteAllMessageReactions 835795727421931530 .Message.ID}} 
{{else if ge $uCancel 2}}
    {{deleteAllMessageReactions 835795727421931530 .Message.ID}} {{/* Edit this. This is nil cfs */}}
{{end}}
