{{ $msg := 0 }} 
{{ with dbGet .User.ID "countmoon" }}
	{{ $msg = .Value }}
{{ end }} 

{{ $totalticket := 0 }} 
{{ with dbGet .User.ID "countticket" }}
	{{ $totalticket = .Value }}
{{ end }} 

{{ $check := 0 }} 
{{ with dbGet .User.ID "checkfull" }}
	{{ $check = .Value }}
{{ end }} 

{{if lt (toInt $check) 5}}

{{if and (gt (toInt $msg) 14) (lt (toInt $msg) 30) (lt (toInt $check) 1)}}
{{ $totalticket = add $totalticket 1}}
{{$a := dbIncr .User.ID "checkfull" 1}}
{{$b := dbIncr .User.ID "countticket" 1}}

{{else if and (gt (toInt $msg) 29) (lt (toInt $msg) 60) (lt (toInt $check) 2)}}
{{ $totalticket = add $totalticket (sub 2 $check)}}
{{$a := dbIncr .User.ID "checkfull" (sub 2 $check)}}
{{$b := dbIncr .User.ID "countticket" (sub 2 $check)}}

{{else if and (gt (toInt $msg) 59) (lt (toInt $msg) 120) (lt (toInt $check) 3)}}
{{ $totalticket = add $totalticket (sub 3 $check)}}
{{$a := dbIncr .User.ID "checkfull" (sub 3 $check)}}
{{$b := dbIncr .User.ID "countticket" (sub 3 $check)}}

{{else if and (gt (toInt $msg) 119) (lt (toInt $msg) 200) (lt (toInt $check) 4)}}
{{ $totalticket = add $totalticket (sub 4 $check)}}
{{$a := dbIncr .User.ID "checkfull" (sub 4 $check)}}
{{$b := dbIncr .User.ID "countticket" (sub 4 $check)}}

{{else if and (gt (toInt $msg) 200) (lt (toInt $check) 5)}}
{{ $totalticket = add $totalticket (sub 5 $check)}}
{{$a := dbIncr .User.ID "checkfull" (sub 5 $check)}}
{{$b := dbIncr .User.ID "countticket" (sub 5 $check)}}

{{end}}

{{.User.Mention}} bạn đã chat {{$msg}} tin nhắn. Bạn có {{ $totalticket }} hộp bánh.

{{else}}

{{.User.Mention}} bạn đã chat {{$msg}} tin nhắn. Bạn có {{ $totalticket }} hộp bánh.
Bạn đã nhận hết hộp bánh từ chat, hãy voice thêm để kiếm thêm lượt nhé.

{{end}}