{{/*Code by TrickStar
Trigger type : Regex: 
(\bb`)|(\bvl\b)|(\bvcl\b)|(\bvkl\b)|(địt\b)|(\bdjt\b)|(đ!t\b)|(\bd!t\b)|(đm\b)|(\bdkm\b)|(đkm\b)|(\bcặc\b)|(\bcặk\b)|(\bcằk\b)|(\blồn\b)|(\blìn\b)|(\bclmn\b)|(\bvcc\b)|(\bduma\b)|(\bvailin\b)|(\bditme\b)|(đitme\b)|(\bxaolon\b)|(\bxaoloz\b)|(\bxaolin\b)|(\bbuồi\b)|(đéo\b)|(\bdái\b)|(\blịt\b)|(\bpẹ)|(\bbuoi\b)|(\bdmm\b)|(đụ)|(đỹ)|(đĩ\s)|(đĩ$)
This list is bad word VietNamese. with others language use (\b<bad word>\b)
*/}}
Server thân thiện, lưu ý cách dùng từ ngữ nhé bạn, lần sau ăn warn rồi tống ngục đó {{ .User.Mention }}!!! 