{{/* <:manh1:891678899405217793>
<:manh2:891678899262586942>
<:manh3:891678899304529951>
<:manh4:891678899413614633> 
<:manh5:891678900038557717>
<:manh6:891678899388448838>
<:manh7:891678899400998932>
<:manh8:891678899472318514> 
<:manh9:891678899300352020>
<:manh10:891678899371642931>
<:manh11:891679629746798612>
<:manh12:891678899120005190> */}}


{{ $totalticket := 0 }} 
{{ with dbGet .User.ID "countticket" }}
	{{ $totalticket = .Value }}
{{ end }}

{{if gt (toInt $totalticket) 0}}

{{$d := randInt 13}}

{{if eq $d 0}}
{{sendMessage nil (printf "<:manh1:891678899405217793>")}} 
{{$a := dbIncr .User.ID "manh1" 1}}
{{else if eq $d 1}}
{{sendMessage nil (printf "<:manh2:891678899262586942>")}}
{{$a := dbIncr .User.ID "manh2" 1}} 
{{else if eq $d 2}}
{{sendMessage nil (printf "<:manh3:891678899304529951>")}} 
{{$a := dbIncr .User.ID "manh3" 1}}
{{else if eq $d 3}}
{{sendMessage nil (printf "<:manh4:891678899413614633> ")}} 
{{$a := dbIncr .User.ID "manh4" 1}}
{{else if eq $d 4}}
{{sendMessage nil (printf "<:manh5:891678900038557717>")}} 
{{$a := dbIncr .User.ID "manh5" 1}}
{{else if eq $d 5}}
{{sendMessage nil (printf "<:manh6:891678899388448838>")}} 
{{$a := dbIncr .User.ID "manh6" 1}}
{{else if eq $d 6}}
{{sendMessage nil (printf "<:manh7:891678899400998932>")}} 
{{$a := dbIncr .User.ID "manh7" 1}}
{{else if eq $d 7}}
{{sendMessage nil (printf "<:manh8:891678899472318514> ")}}
{{$a := dbIncr .User.ID "manh8" 1}} 
{{else if eq $d 8}}
{{sendMessage nil (printf "<:manh9:891678899300352020>")}}
{{$a := dbIncr .User.ID "manh9" 1}} 
{{else if eq $d 9}}
{{sendMessage nil (printf "<:manh10:891678899371642931>")}}
{{$a := dbIncr .User.ID "manh10" 1}} 
{{else if eq $d 10}}
{{sendMessage nil (printf "<:manh11:891679629746798612>")}}
{{$a := dbIncr .User.ID "manh11" 1}} 
{{else if eq $d 11}}
{{sendMessage nil (printf "<:manh12:891678899120005190>")}}
{{$a := dbIncr .User.ID "manh12" 1}} 
{{end}}
là mảnh {{.User.Mention}} nhận được. Bạn còn {{dbIncr .User.ID "countticket" -1}} lượt.

{{else}}
Bạn đã hết số lượt quay.

{{end}}