{{/* <:m1:898401449258680320>
<:m2:898401449174781962>
<:m3:898401450961539152>
<:m4:898401450210787399>
<:m5:898401451573911592>
<:m6:898401449397084221>
<:m7:898401448998629417>
<:m8:898401449246076938>
<:m9:898401451167068200>
<:m10:898401449174794280>
<:m11:898401449376120933>
<:m12:898401449178968064>
<:m13:898401448751144971>
<:m14:898401451116756992>
<:m15:898401451670380564>
<:m16:898401449615175710> */}}


{{ $totalticket := 0 }} 
{{ with dbGet .User.ID "countticket" }}
	{{ $totalticket = .Value }}
{{ end }}

{{ $stringValue := 0 }} 
{{ with dbGet .User.ID "stringValue" }}
	{{ $stringValue = .Value }}
{{ end }}

{{if $stringValue}}
{{else}}
	{{dbSet .User.ID "stringValue" "F,F,F,F,F,F,F,F,F,F,F,F,F,F,F,F"}}
    {{ $stringValue =  "F,F,F,F,F,F,F,F,F,F,F,F,F,F,F,F"}}
{{end}}

{{ $countallevent := 0 }} 
{{ with dbGet .User.ID "countallevent" }}
	{{ $countallevent = .Value }}
{{ end }}

{{if gt (toInt $totalticket) 0}}

{{$d := randInt 20}}

{{if lt $d 16}}
    {{$dtwo := randInt 5}}

    {{$m := dbIncr .User.ID "countallevent" 1}}
    {{if and (eq $d 12) (gt $dtwo 0)}}
    
    {{else}}
        {{$res := ""}}
        {{range $k, $v := (split $stringValue ",")}} 
            {{if eq (toInt $k) $d}}
                {{$res = joinStr "," $res "T"}}
            {{else}}
                {{$res = joinStr "," $res $v}}
            {{end}}
        {{end}}
        {{dbSet .User.ID "stringValue" $res}}
    {{end}}

    {{if eq $d 0}}
        {{sendMessage nil (printf "<:m1:898401449258680320>")}} 
    {{else if eq $d 1}}
        {{sendMessage nil (printf "<:m2:898401449174781962>")}}
    {{else if eq $d 2}} 
        {{sendMessage nil (printf "<:m3:898401450961539152>")}} 
    {{else if eq $d 3}}
        {{sendMessage nil (printf "<:m4:898401450210787399>")}} 
    {{else if eq $d 4}}
        {{sendMessage nil (printf "<:m5:898401451573911592>")}} 
    {{else if eq $d 5}}
        {{sendMessage nil (printf "<:m6:898401449397084221>")}} 
    {{else if eq $d 6}}
        {{sendMessage nil (printf "<:m7:898401448998629417>")}} 
    {{else if eq $d 7}}
        {{sendMessage nil (printf "<:m8:898401449246076938>")}}
    {{else if eq $d 8}}
        {{sendMessage nil (printf "<:m9:898401451167068200>")}}
    {{else if eq $d 9}}
        {{sendMessage nil (printf "<:m10:898401449174794280>")}}
    {{else if eq $d 10}}
        {{sendMessage nil (printf "<:m11:898401449376120933>")}}
    {{else if eq $d 11}}
        {{sendMessage nil (printf "<:m12:898401449178968064>")}}
    {{else if eq $d 12}}
        {{if eq $dtwo 0}}
            {{sendMessage nil (printf "<:m13:898401448751144971>")}}
        {{else}}
            {{sendMessage nil (printf "🐧")}} 
        {{end}}
    {{else if eq $d 13}}
        {{sendMessage nil (printf "<:m14:898401451116756992>")}}
    {{else if eq $d 14}}
        {{sendMessage nil (printf "<:m15:898401451670380564>")}}
    {{else if eq $d 15}}
        {{sendMessage nil (printf "<:m16:898401449615175710>")}}
    {{end}}
    là mảnh {{.User.Mention}} nhận được. Bạn còn {{dbIncr .User.ID "countticket" -1}} lượt.


{{else}}
    {{$m := dbIncr .User.ID "countallevent" 1}}
    {{.User.Mention}} đã bị 👻 lấy mất mảnh  . Bạn còn {{dbIncr .User.ID "countticket" -1}} lượt.
{{end}}

{{else}}
Bạn đã hết lượt quay. Hãy làm thêm nhiệm vụ ( xem tại ghim ) để kiếm lượt quay nhé

{{end}}