{{/* <:manh1:894603591740948540>
<:manh2:894603591392845855>
<:manh3:894603592168787979>
<:manh4:894603591694843915> 
<:manh5:894603591820664914>
<:manh6:894603592235905054>
<:manh7:894603591854219304>
<:manh8:894603593032818728> 
<:manh9:894603592344932392>
<:manh10:894603592248475718>
<:manh11:894603592214933597>
<:manh12:894603592118456401> */}}


{{ $totalticket := 0 }} 
{{ with dbGet .User.ID "countticket" }}
	{{ $totalticket = .Value }}
{{ end }}

{{ $stringValue := 0 }} 
{{ with dbGet .User.ID "stringValue" }}
	{{ $stringValue = .Value }}
{{ end }}

{{if $stringValue}}
{{else}}
	{{dbSet .User.ID "stringValue" "F,F,F,F,F,F,F,F,F,F,F,F"}}
    {{ $stringValue =  "F,F,F,F,F,F,F,F,F,F,F,F"}}
{{end}}

{{ $countallevent := 0 }} 
{{ with dbGet .User.ID "countallevent" }}
	{{ $countallevent = .Value }}
{{ end }}

{{if gt (toInt $totalticket) 0}}

{{$d := randInt 16}}

{{if lt $d 12}}
    {{if eq $d 0}}
        {{sendMessage nil (printf "<:manh1:894603591740948540>")}} 
    {{else if eq $d 1}}
        {{sendMessage nil (printf "<:manh2:894603591392845855>")}}
    {{else if eq $d 2}} 
        {{sendMessage nil (printf "<:manh3:894603592168787979>")}} 
    {{else if eq $d 3}}
        {{sendMessage nil (printf "<:manh4:894603591694843915>")}} 
    {{else if eq $d 4}}
        {{sendMessage nil (printf "<:manh5:894603591820664914>")}} 
    {{else if eq $d 5}}
        {{sendMessage nil (printf "<:manh6:894603592235905054>")}} 
    {{else if eq $d 6}}
        {{sendMessage nil (printf "<:manh7:894603591854219304>")}} 
    {{else if eq $d 7}}
        {{sendMessage nil (printf "<:manh8:894603593032818728> ")}}
    {{else if eq $d 8}}
        {{sendMessage nil (printf "<:manh9:894603592344932392>")}}
    {{else if eq $d 9}}
        {{sendMessage nil (printf "<:manh10:894603592248475718>")}}
    {{else if eq $d 10}}
        {{sendMessage nil (printf "<:manh11:894603592214933597>")}}
    {{else if eq $d 11}}
        {{sendMessage nil (printf "<:manh12:894603592118456401>")}}
    {{end}}
    là mảnh {{.User.Mention}} nhận được. Bạn còn {{dbIncr .User.ID "countticket" -1}} lượt.

    {{$m := dbIncr .User.ID "countallevent" 1}}
    {{$res := ""}}
    {{range $k, $v := (split $stringValue ",")}} 
        {{if eq (toInt $k) $d}}
            {{$res = joinStr "," $res "T"}}
        {{else}}
            {{$res = joinStr "," $res $v}}
        {{end}}
    {{end}}
    {{dbSet .User.ID "stringValue" $res}}

{{else}}
    {{$m := dbIncr .User.ID "countallevent" 1}}
    {{.User.Mention}} đã bị 👻 lấy mất mảnh  . Bạn còn {{dbIncr .User.ID "countticket" -1}} lượt.
{{end}}

{{else}}
Bạn đã hết lượt quay. Hãy làm thêm nhiệm vụ ( xem tại ghim ) để kiếm lượt quay nhé

{{end}}