{{ $msg := 0 }} 
{{ with dbGet .User.ID "countevent" }}
	{{ $msg = .Value }}
{{ end }} 

{{ $totalticket := 0 }} 
{{ with dbGet .User.ID "countticket" }}
	{{ $totalticket = .Value }}
{{ end }} 

{{ $check := 0 }} 
{{ with dbGet .User.ID "checkfull" }}
	{{ $check = .Value }}
{{ end }} 

{{if lt (toInt $check) 1}}

{{if and (gt (toInt $msg) 14) (lt (toInt $msg) 30) (lt (toInt $check) 1)}}
{{ $totalticket = add $totalticket 1}}
{{$a := dbIncr .User.ID "checkfull" 1}}
{{$b := dbIncr .User.ID "countticket" 1}}
{{end}}

{{.User.Mention}} bạn đã chat {{$msg}} tin nhắn. Bạn có {{ $totalticket }} lượt.

{{else}}

{{.User.Mention}} bạn đã chat {{$msg}} tin nhắn. Bạn có {{ $totalticket }} lượt.
Bạn đã nhận hết lượt từ chat, hãy voice thêm để kiếm thêm lượt nhé.

{{end}}