{{ $stringValue := 0 }} 
{{ with dbGet .User.ID "stringValue" }}
	{{ $stringValue = .Value }}
{{ end }}

{{if $stringValue}}
{{else}}
	{{dbSet .User.ID "stringValue" "F,F,F,F,F,F,F,F,F,F,F,F"}}
    {{ $stringValue =  "F,F,F,F,F,F,F,F,F,F,F,F"}}
{{end}}

{{$res1 := ""}}
{{$res2 := ""}}
{{$res3 := ""}}
{{range $k, $v := (split $stringValue ",")}} 
    {{if eq (toInt $k) 0}}
        {{if eq $v "T"}} {{$res1 = joinStr "" $res1 "<:manh1:894603591740948540>"}}
		{{else}} {{$res1 = joinStr "" $res1 "❔"}} {{end}}
	{{else if eq (toInt $k) 1}}
        {{if eq $v "T"}} {{$res1 = joinStr "" $res1 "<:manh2:894603591392845855>"}} 
		{{else}} {{$res1 = joinStr "" $res1 "❔"}} {{end}}
	{{else if eq (toInt $k) 2}}
        {{if eq $v "T"}} {{$res1 = joinStr "" $res1 "<:manh3:894603592168787979>"}}
		{{else}} {{$res1 = joinStr "" $res1 "❔"}} {{end}}
	{{else if eq (toInt $k) 3}}
        {{if eq $v "T"}} {{$res1 = joinStr "" $res1 "<:manh4:894603591694843915>"}}
		{{else}} {{$res1 = joinStr "" $res1 "❔"}} {{end}}

	{{else if eq (toInt $k) 4}}
        {{if eq $v "T"}} {{$res2 = joinStr "" $res2 "<:manh5:894603591820664914>"}}
		{{else}} {{$res2 = joinStr "" $res2 "❔"}} {{end}}
	{{else if eq (toInt $k) 5}}
        {{if eq $v "T"}} {{$res2 = joinStr "" $res2 "<:manh6:894603592235905054>"}} 
		{{else}} {{$res2 = joinStr "" $res2 "❔"}} {{end}}
	{{else if eq (toInt $k) 6}}
        {{if eq $v "T"}} {{$res2 = joinStr "" $res2 "<:manh7:894603591854219304>"}}
		{{else}} {{$res2 = joinStr "" $res2 "❔"}} {{end}}
	{{else if eq (toInt $k) 7}}
        {{if eq $v "T"}} {{$res2 = joinStr "" $res2 "<:manh8:894603593032818728>"}}
		{{else}} {{$res2 = joinStr "" $res2 "❔"}} {{end}}
  
	{{else if eq (toInt $k) 8}}
        {{if eq $v "T"}} {{$res3 = joinStr "" $res3 "<:manh9:894603592344932392>"}}
		{{else}} {{$res3 = joinStr "" $res3 "❔"}} {{end}}
	{{else if eq (toInt $k) 9}}
        {{if eq $v "T"}} {{$res3 = joinStr "" $res3 "<:manh10:894603592248475718>"}} 
		{{else}} {{$res3 = joinStr "" $res3 "❔"}} {{end}}
	{{else if eq (toInt $k) 10}}
        {{if eq $v "T"}} {{$res3 = joinStr "" $res3 "<:manh11:894603592214933597>"}}
		{{else}} {{$res3 = joinStr "" $res3 "❔"}} {{end}}
	{{else if eq (toInt $k) 11}}
        {{if eq $v "T"}} {{$res3 = joinStr "" $res3 "<:manh12:894603592118456401>"}}
		{{else}} {{$res3 = joinStr "" $res3 "❔"}} {{end}}
	
    {{end}}
{{end}}

{{ $user := .User }} 
{{ $color := 14232643 }} 
{{ $avatar := (joinStr "" "https://cdn.discordapp.com/avatars/" (toString .User.ID) "/" .User.Avatar ".png") }}
{{$embed := sdict
	"title" (joinStr "" "❯ Bức tranh của "  .User.Username) 
	"color" $color
	"description" (print $res1 "\n" $res2 "\n" $res3)
	"thumbnail" (sdict "url" $avatar) 
}}

{{ sendMessage nil (cembed $embed) }}