{{/* <a:cat_M:819202996747108352> 
<a:cat_O:819203089349345350> 
<a:cat_N:819203075977904188> 
<a:cat_C:819201905741529098> 
<a:cat_A:819201634395488288> 
<a:cat_K:819202981416927304> 
<a:cat_E:819202860670648340>`
<a:chamhoigif:749921509639716874>` */}}


{{ $totalticket := 0 }} 
{{ with dbGet .User.ID "countticket" }}
	{{ $totalticket = .Value }}
{{ end }}

{{if gt (toInt $totalticket) 0}}

{{$d := randInt 8}}

{{if eq $d 1}}
{{sendMessage nil (printf "<a:cat_M:819202996747108352>")}} 
{{$a := dbIncr .User.ID "wordm" 1}}
{{else if eq $d 2}}
{{sendMessage nil (printf "<a:cat_O:819203089349345350>")}}
{{$a := dbIncr .User.ID "wordo" 1}} 
{{else if eq $d 3}}
{{sendMessage nil (printf "<a:cat_N:819203075977904188>")}} 
{{$a := dbIncr .User.ID "wordn" 1}}
{{else if eq $d 4}}
{{sendMessage nil (printf "<a:cat_C:819201905741529098>")}} 
{{$a := dbIncr .User.ID "wordc" 1}}
{{else if eq $d 5}}
{{sendMessage nil (printf "<a:cat_A:819201634395488288>")}} 
{{$a := dbIncr .User.ID "worda" 1}}
{{else if eq $d 6}}
{{sendMessage nil (printf "<a:cat_K:819202981416927304>")}} 
{{$a := dbIncr .User.ID "wordk" 1}}
{{else if eq $d 0}}
{{sendMessage nil (printf "<a:cat_E:819202860670648340>")}} 
{{$a := dbIncr .User.ID "worde" 1}}
{{else if eq $d 7}}
{{sendMessage nil (printf "<a:cat_O:819203089349345350>")}}
{{$a := dbIncr .User.ID "wordo" 1}} 
{{end}}
là chữ {{.User.Mention}} nhận được. Bạn còn {{dbIncr .User.ID "countticket" -1}} lượt quay.

{{else}}
Bạn đã hết số lượt quay.

{{end}}