{{ $min := 0 }}

{{ $wordm := 0 }} 
{{ with dbGet .User.ID "wordm" }}
	{{ $wordm = .Value }}
{{ end }}
{{$min = (toInt $wordm)}}

{{ $wordo := 0 }} 
{{ with dbGet .User.ID "wordo" }}
	{{ $wordo = .Value }}
{{ end }}
{{if lt (fdiv $wordo 2) (toFloat $min)}}
    {{$min = (toInt (div $wordo 2))}}
{{end}}

{{ $wordn := 0 }} 
{{ with dbGet .User.ID "wordn" }}
	{{ $wordn = .Value }}
{{ end }}
{{if lt (toInt $wordn) $min}}
    {{$min = (toInt $wordn)}}
{{end}}

{{ $wordc := 0 }} 
{{ with dbGet .User.ID "wordc" }}
	{{ $wordc = .Value }}
{{ end }}
{{if lt (toInt $wordc) $min}}
    {{$min = (toInt $wordc)}}
{{end}}

{{ $worda := 0 }} 
{{ with dbGet .User.ID "worda" }}
	{{ $worda = .Value }}
{{ end }}
{{if lt (toInt $worda) $min}}
    {{$min = (toInt $worda)}}
{{end}}

{{ $wordk := 0 }} 
{{ with dbGet .User.ID "wordk" }}
	{{ $wordk = .Value }}
{{ end }}
{{if lt (toInt $wordk) $min}}
    {{$min = (toInt $wordk)}}
{{end}}

{{ $worde := 0 }} 
{{ with dbGet .User.ID "worde" }}
	{{ $worde = .Value }}
{{ end }}
{{if lt (toInt $worde) $min}}
    {{$min = (toInt $worde)}}
{{end}}

{{ $countcake := 0 }} 
{{ with dbGet .User.ID "countcake" }}
	{{ $countcake = .Value }}
{{ end }}
{{$a := dbIncr .User.ID "countcake" (sub $min (toInt $countcake))}}

{{ $user := .User }} 
{{ $color := 14232643 }} 
{{ $avatar := (joinStr "" "https://cdn.discordapp.com/avatars/" (toString .User.ID) "/" .User.Avatar ".png") }}
{{$embed := sdict
	"title" (joinStr "" "❯ Kho đồ của "  .User.Username "!") 
	"color" $color
	"fields" (cslice 
        (sdict "name" "<a:cat_M:819202996747108352>" "value" (toString (toInt $wordm)) "inline" true) 
        (sdict "name" "<a:cat_O:819203089349345350>" "value" (toString (toInt $wordo)) "inline" true) 
        (sdict "name" "<a:cat_N:819203075977904188>" "value" (toString (toInt $wordn)) "inline" true) 
        (sdict "name" "<a:cat_C:819201905741529098>" "value" (toString (toInt $wordc)) "inline" true) 
        (sdict "name" "<a:cat_A:819201634395488288>" "value" (toString (toInt $worda)) "inline" true) 
        (sdict "name" "<a:cat_K:819202981416927304>" "value" (toString (toInt $wordk)) "inline" true)
		(sdict "name" "<a:cat_E:819202860670648340>" "value" (toString (toInt $worde)) "inline" true)
		(sdict "name" "🥮" "value" (toString $min) "inline" false) 
    ) 
	"thumbnail" (sdict "url" $avatar) 
}}

{{ sendMessage nil (cembed $embed) }}