{{/*
	
	Command : -rank
*/}}   
{{ $empty := "🤍" }} {{ $full := "❤" }}          
{{ $xp := 0 }} 
{{ $color := 14232643 }} 
{{ $user := .User }} 
{{ with .CmdArgs }}
	{{ $temp := userArg (index . 0) }}
	{{ if $temp }}
		{{ $user = $temp }}
	{{ end }}
{{ end }}

{{ with dbGet $user.ID "xp" }}
	{{ $xp = .Value }}
{{ end }} 

{{ $level := roundFloor (mult 0.1 (sqrt $xp)) }}
{{ $current := sub $xp (mult 100 $level $level) }} 
{{ if lt (toInt $xp) 100 }}
	{{ $current = $xp }}
{{ end }} 

{{ $nextLvl := add $level 1 }}
{{ $total := sub (mult 100 $nextLvl $nextLvl) (mult 100 $level $level) }} 
{{ $percentage := (mult (fdiv $current $total) 100) | roundFloor }} 
{{ $percentage = div $percentage 10 | toInt }} 

{{ $bar := "" }}
{{- range seq 1 11 -}}
	{{ if ge $percentage . }} {{ $bar = joinStr "" $bar $full }}
	{{ else }} {{ $bar = joinStr "" $bar $empty }} {{ end }} 
{{- end -}}

{{ $embed := sdict 
		"title" (printf "❯ %s's Rank" $user.String)
		"color" $color
		"description" (printf 
			"❯ **%d / %d** XP\n❯ **Total:** %d\n❯ **Level:** %d\n❯ **Progress:**\n[**%s**](https://www.youtube.com/watch?v=9kaCAbIXuyg)"
			(toInt $current) (toInt $total) (toInt $xp) (toInt $level) $bar)
		"thumbnail" (sdict "url" ($user.AvatarURL "4096")) 
	}}

{{ $rank := 0 }} 
{{- range $index, $entry := dbTopEntries "xp" 100 0 -}} 
	{{ if eq .UserID $user.ID }} {{ $rank = add $index 1 }} {{ end }}
{{- end -}}

{{ if $rank }}
	{{ $embed.Set "description" (printf 
			"🏆 *Member of Top 100*\n\n❯ **Rank:** %d\n%s"
			$rank
			$embed.description
		) }} 
{{ end }}
{{ sendMessage nil (cembed $embed) }}


