{{/* 
<:banhchung:936952715630760016>
<:banhtet:936952714565402634>
*/}}
{{ $totalticket := 0 }} 
{{ with dbGet .User.ID "countticket" }}
	{{ $totalticket = .Value }}
{{ end }}

{{if gt (toInt $totalticket) 0}}

{{$d := randInt 2}}

{{if eq $d 0}}
{{sendMessage nil (printf "<:banhchung:936952715630760016>")}} 
{{$a := dbIncr .User.ID "banhchung" 1}}
{{else if eq $d 1}}
{{sendMessage nil (printf "<:banhtet:936952714565402634>")}}
{{$a := dbIncr .User.ID "banhtet" 1}}
{{end}}
là bánh {{.User.Mention}} nhận được. Bạn còn {{dbIncr .User.ID "countticket" -1}} hộp bánh.

{{else}}
Bạn đã hết số lượt.

{{end}}