{{ $msg := 0 }} 
{{ with dbGet .User.ID "countevent" }}
	{{ $msg = .Value }}
{{ end }} 

{{ $totalticket := 0 }} 
{{ with dbGet .User.ID "countticket" }}
	{{ $totalticket = .Value }}
{{ end }} 

{{if gt (toInt $msg) 50}}
{{$newtick := div $msg 50}}
{{$totalticket = add $totalticket (toInt $newtick)}}
{{$b := dbIncr .User.ID "countticket" (toInt $newtick)}}
{{dbSet .User.ID "countevent" (mod $msg 50)}}
{{end}}

{{.User.Mention}} bạn đã chat {{$msg}} tin nhắn. Bạn có {{ $totalticket }} lượt.